#website_title {
    font-size: 128px;
}

.red-text {
    color: red;
}

.container {
    border: 2px red solid;
    padding: 50px 40px;
    margin:  50px 0px;
    display: inline-block;
    width: 500px;
}

span {
    font-size: 64px;
}